---
layout:
title:
---

<html lang="en">

  {% include head.html %}

<body>

{% include header.html %}

<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

<div class="container">
   <div>
      <p><strong>Hello, cyber surfer—</strong>
      <p>
      <p>When we were growing up, the internet was all fun and games.
         But <span class="highlight">things have gotten pretty weird around here.</span>
         Memes are being used as weapons in an information war. Outrage cycles
         loop round and round on a nauseating, neverending rollercoaster.
         People are getting sucked into radical rabbit holes.</p>
      <p>What if we had medics on the battlefield of the online culture wars?
         Meme memedics. <span class="highlight">We're calling them Memedics.</span>
      </p>
      <p>
         This web site is where we're hashing out ideas about how Memedics should engage IRL and URL.
         We're working in public, trying to blur the line between published/unpublished, collecting
         research and music and art and good ideas about how to move towards memetic peace.
      </p>
      <br>
      <br>
      <p><strong>Principles we're playing with</strong></p>
      <ol>
         <li>Memedics <span class="highlight">patiently and soberly investigate</span> how people landed in their current belief system.</li>
         <li>Memedics acknowledge the (sometimes small) <span class="highlight">kernels of truth</span> inside every point of view.</li>
         <li>Memedics work to <span class="highlight">understand people's internal motivations</span> instead of dismissing them off-hand.</li>
         <li>Memedics understand that <span class="highlight">good people can get infected</span> by bad ideas.</li>
         <li>Memedics know that outrage-fueled actions tend to <span class="highlight">provoke equal and opposite reactions</span>.</li>
         <li> Memedics transcend toxic feedback loops by <span class="highlight">truly listening to people</span> and meeting them where they're at.</li>
         <li>Memedics remember the self-fulfilling prophecy that undergirds the culture war: <span class="highlight">if you don't think people can evolve, they won't.</span></li>
         <li>Memedics practice <span class="highlight">curious humility</span>, and they're not too concerned about being right.</li>
         <li>Memedics hope that <span class="highlight">they <em>themselves</em> will </span> be transformed by their interactions with others.</li>
      </ol>
   </div>
   <div>
      <section id="links">
         <p><strong>Links</strong></p>
         <p><a class="primary" href="https://open.spotify.com/user/joman%21/playlist/2vkeCGGkTkPTaT2NVofxPi?si=ZTGJmafpSEyE5TjGwx2DfA">Memedics playlist →</a></p>
         <p><a class="secondary" href="">References →</a></p>
         <p><a class="tertiary" href="">Backstage →</a></p>
      </section>
   </div>
</div>
<div class="blob">
   <p><span></span></p>
   <p><span></span></p>
</div>

</body>

</html>
